{% extends 'base.html' %} 

{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(120deg, #A9907E,#ABC4AA);
        color: black;
        height: 100vh;
        overflow: hidden;
        font-family: "Poppins";
    }
    .input-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 540px;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }
    .input-item h1 {
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 2px solid silver;
    }
    .input-item form {
        padding: 0 30px;
        box-sizing: border-box;
    }
    form .input-field {
        display: block;
        position: relative;
        border-bottom: 2px solid #ABC4AA;
        margin: 30px 0;
    }
    .input-field label {
        display: block;
    }
    .input-field input, textarea {
        font-family: "Poppins";
        width: 97%;
        padding: 0 5px;
        height: 30px;
        font-size: 16px;
        border-radius: 2px;
        border: none;
        background: #ececec;
        outline: none;
    }
    .input-field textarea {
        height: 50px;
        width: 97%;
        font-size: 14px;
    }
    input[type="submit"] {
        font-family: "Poppins";
        width: 70%;
        height: 30px;
        margin-top: 0%;
        margin-left: 15%;
        border: 1px solid;
        background: #ABC4AA;
        border-radius: 25px;
        font-size: 17px;
        border-color: #ABC4AA;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    input[type="submit"]:hover {
        background: #94ab93;
        border-color: #94ab93;
        cursor: pointer;
    }
</style>

<div class="input-item">
    <h1>Add New Product</h1>
    
    <form method="POST">
        {% csrf_token %}
        <div class="input-field">
            <label>{{form.name.label}}:</label>
            {{form.name}}
        </div>
        <div class="input-field">
            <label>{{form.amount.label}}:</label>
            {{form.amount}}
        </div>
        <div class="input-field">
            <label>{{form.price.label}}:</label>
            {{form.price}}
        </div>
        <div class="input-field" id="desc">
            <label>{{form.description.label}}:</label>
            {{form.description}}
        </div>
        <td><input type="submit" value="Add Item"/></td>
    </form>
</div>

{% endblock %}