{% extends 'base.html' %}

{% block content %}

<style>
    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(120deg, #A9907E,#ABC4AA);
        color: black;
        height: 100vh;
        overflow: hidden;
        font-family: "Poppins";
    }
    h5 {
        /* margin-left: 110px; */
        text-align: center;
    }
    .page-container {
        max-height: 100vh; 
        overflow-y: auto; 
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #675D50;
        position: sticky;
        top: 0;
        width: 100%;
    }
    li .active, .item {
        float: left;
    }
    li .logout:hover, .item:hover {
        background-color: #4e463c;
    }
    li .active {
        background-color: #6f816e;
    }
    li .logout {
        float:right;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .container {
        padding: 15px 9%;
        padding-bottom: 100px;
    }
    .container .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 15px;
        justify-content: space-between;
    }
    .container .box-container .box {
        flex: 1;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background: white;
        text-align: center;
        padding: 20px;
        margin-bottom: 20px;
        max-width: calc(33.33% - 20px);
    }
    .container .box-container .box h3 {
        font-size: 20px;
        margin-bottom: 1px;
    }
    .container .box-container .box p {
        font-size: 1rem;    
        color: #333;
    }
    .container .box-container .box #price {
        font-weight: bold;
        color: #000000; /* Customize the color for price */
    }
    .container .box-container .box #date {
        font-size: 12px;
    }
    .button-before,
    .button-after {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }
    .container .box-container .box .amount-container {
        text-align: center;
    }

    #delete-button {
        font-family: "Poppins";
        width: 70%;
        height: 30px;
        margin-top: 5%;
        border: 1px solid;
        background: #ABC4AA;
        border-radius: 25px;
        font-size: 17px;
        border-color: #ABC4AA;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    #delete-button:hover {
        background: #94ab93;
    }

</style>
<div class="page-container">
    <ul>
        <li><a class="active">Jastipin Aja!</a></li>
        <li><a class="item" href="{% url 'main:input_item' %}">Add Item</a></li>
        <li><a class="logout" href="{% url 'main:logout' %}">Logout</a></li>
    </ul>
    <div class = "container">
        <h2 class="desc">Halo, {{ name }}!</h2>
        <h2 class="desc">Jangan lupa membeli barang-barang titipan customer ini!</h2>
    
        {% for product in products %}
            <div class="box-container">
                <div class="box">
                    <p id="date">{{product.date_added}}</p>
                    <h3>{{product.name}}</h3>
                    <p>{{product.description}}</p>
                    <p id="price">Rp{{product.price}}</p>

                    <div class="amount-container">
                        <form method="post" action="{% url 'main:decrement_amount' product.id %}" style="display: inline-block;">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="action" value="decrement">
                            <button id="amt-button" type="submit">-</button>
                        </form>
                        <p>{{product.amount}}</p>
                        <form method="post" action="{% url 'main:increment_amount' product.id %}" style="display: inline-block;">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="action" value="increment">
                            <button id="amt-button" type="submit">+</button>
                        </form>
                    </div>

                    <td style="text-align: center;">
                        <form method="post" action="{% url 'main:delete_item' product.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="action" value="delete">
                            <button id="delete-button" type="submit">Delete Item</button>
                        </form>
                    </td>
                </div>
            </div>
        {% endfor %}
    </div>

    <br />

    <h5>Sesi terakhir login: {{ last_login }}</h5>
</div>



{% endblock content %}