{% extends 'base.html' %}

{% block content %}
    <h1>Jastip, Ya!</h1>

    <h2>Halo, {{ name }}!</h2>
    <h3>Jangan lupa membeli barang-barang titipan costumer ini!</h3>
    <!-- <h4>Jastiper: </h4>
    <p>{{ name }}</p>
    <h4>Domisili di Indonesia: </h4>
    <p>{{ class }}</p> -->

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Price per Item</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td style="width: 300px; height: 20px;">{{product.name}}</td>
                <td style="width: 100px; height: 20px;">{{product.amount}}</td>
                <td style="width: 120px; height: 20px;">Rp{{product.price}}</td>
                <td style="width: 300px; height: 20px;">{{product.description}}</td>
                <td style="width: 120px; height: 20px;">{{product.date_added}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

    <a href="{% url 'main:input_item' %}">
        <button>
            Add New Product
        </button>
    </a>
{% endblock content %}