{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  
<style>
    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(120deg, #A9907E,#ABC4AA);
        color: black;
        height: 100vh;
        overflow: hidden;
        font-family: "Poppins";
    }
    .login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 430px;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }
    .login h1 {
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 2px solid silver;
    }
    .login form {
        padding: 0 30px;
        box-sizing: border-box;
    }
    form .input-field {
        position: relative;
        border-bottom: 2px solid #ABC4AA;
        margin: 30px 0;
    }
    .input-field input[type="text"],
    .input-field input[type="password"] {
        font-family: "Poppins";
        width: 97%;
        padding: 0 5px;
        height: 30px;
        font-size: 16px;
        border-radius: 2px;
        border: none;
        background: #ececec;
        outline: none;
    }
    .input-field input[type="text"]:hover,
    .input-field input[type="password"]:hover {
        background: #dadada;
    }
    input[type="submit"] {
        font-family: "Poppins";
        width: 70%;
        height: 30px;
        margin-top: 0%;
        margin-left: 15%;
        border: 1px solid;
        background: #ABC4AA;
        border-radius: 25px;
        font-size: 17px;
        border-color: #ABC4AA;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    input[type="submit"]:hover {
        background: #94ab93;
        border-color: #94ab93;
        cursor: pointer;
    }
</style>

<div class = "login">
    
    <h1>Register</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <div class="input-field">
                <label>{{form.username.label}}:</label>
                {{form.username}}
            </div>
            <div class="input-field">
                <label>{{form.password1.label}}:</label>
                {{form.password1}}
            </div>
            <div class="input-field">
                <label>{{form.password2.label}}:</label>
                {{form.password2}}
            </div>
            <td><input type="submit" name="submit" value="Daftar"/></td>  
           
        </form>


</div>  

{% endblock content %}